<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
    UMB優勝者
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ホーム</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
      鎮座DOPENESS
      </div>
      <div class="message-date">
      2021/1/18(tue) 10:22
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
      晋平太、轢き殺す戦車
      </div>
    </div>
  </div>

  <div class="message"> 
    <div class="upper-message">
      <div class="message-user">
      晋平太
      </div>
      <div class="message-date">
      2021/1/18(tue) 10:23
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
      その戦車、拙者が運転者
      </div>
    </div>
  </div>
</div>

<%=form_with model: [@room, @message], class: "form", local: true do |f|%>
  <div class="form-input">
    <%=f.text_field :content, class: "form-message", placeholder: "メッセージ入力" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%=f.file_field :image, class: "hidden"%>
    </label>
    <%=f.submit "送信", class: "form-submit"%>
  </div>
<% end %>