<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
    UMB優勝者
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ホーム</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
      鎮座DOPENESS
      </div>
      <div class="message-date">
      2021/1/18(tue) 10:22
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
      晋平太轢き殺す戦車
      </div>
    </div>
  </div>

  <div class="message"> 
    <div class="upper-message">
      <div class="message-user">
      晋平太
      </div>
      <div class="message-date">
      2021/1/18(tue) 10:23
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
      その戦車、拙者が運転者
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="メッセージ入力">
  </div>
  <label class="form-image">
    <span class="image-file">画像</span>
    <input type="file" class="message-file">
  </label>
  <input class="form-submit" type="submit" value="送信">
</div>