<div class="side-header">
  <div class="header-name">
    <a href="#">鎮座DOPENESS</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
    <a href="#">UMB優勝者</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">KOK優勝者</a>
    </div>
  </div>
</div>